@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Header */
.active {
  color: #040303;
}

.active-dark {
  color: #764abc;
}

/* Hero Component */
.anime {
  animation: breathe 7s linear infinite;
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 0 15px rgba(211, 153, 250, 0.3),
      0 0 0 10px rgba(211, 153, 250, 0.3), 0 0 0 15px rgba(211, 153, 250, 0.3),
      0 0 0 10px rgba(211, 153, 250, 0.3), 0 0 0 15px rgba(211, 153, 250, 0.3);
  }
  50% {
    box-shadow: 0 0 0 25px rgba(211, 153, 250, 0.3),
      0 0 0 5px rgba(211, 153, 250, 0.3), 0 0 0 10px rgba(211, 153, 250, 0.3),
      0 0 0 5px rgba(211, 153, 250, 0.3), 0 0 0 10px rgba(211, 153, 250, 0.3);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(211, 153, 250, 0.3),
      0 0 0 20px rgba(211, 153, 250, 0.3), 0 0 0 10px rgba(211, 153, 250, 0.3),
      0 0 0 20px rgba(211, 153, 250, 0.3), 0 0 0 10px rgba(211, 153, 250, 0.3);
  }
}

/* Footer */
.IconContainer {
  width: 40px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  justify-content: center;
  transition-duration: 0.4s;
  height: 40px;
}

.IconContainer:hover {
  transition-duration: 0.4s;
  background-color: white;
}

.IconContainer:hover .Icon {
  fill: #8a39e1;
}

.Icon {
  fill: white;
}

.Icon:hover {
  fill: #8a39e1;
}
